body{
    font-family: "Poppins", sans-serif;
}

.banner{
    background-image: url(/5651981.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 300px 0;
}

ul li:hover{
    font-size: 20px;
    
}

.skills-padding{
    padding: 100px;
}

